@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeModels.Models;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;

@model ClaimatePrimeModels.Models.UserReportSearchModel

<div class="dv-page-header1">
    <ul class="ul-header">
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("RptProviderWise"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading('');"></a></li>
        <li>@Resources.ClaimatePrimeWebResx.Provider</li>
        <li><span>-</span></li>
        <li><span>@Resources.ClaimatePrimeWebResx.SummaryReport</span></li>
    </ul>
</div>
@Html.Partial("UserControls/PageHeaderSub")
@Html.Partial("UserControls/ClinicFCReport")
