@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.Extensions;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeConstants;
@using ClaimatePrimeEFWork.EFContexts;

@model ClaimatePrimeModels.Models.ClaimsAgentModel

<div>
    <div class="dv-page-header1">
        <ul class="ul-header">
            <li><a href="@Url.RouteUrl(StaticClass.RouteValues("ClinicSetUpM"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
            <li>@Resources.ClaimatePrimeWebResx.CaseAgent</li>
        </ul>
    </div>
</div>
@Html.Partial("UserControls/PageHeaderSub")
<div class="dv-block">

    @using (Html.ArivaForm("CaseAgentM"))
    {
        
        <div style="display: none;">
            @Html.TextBoxFor(m => m.StartBy)
            @Html.TextBoxFor(m => m.CurrNumber)
            @Html.TextBoxFor(m => m.OrderByField)
            @Html.TextBoxFor(m => m.OrderByDirection)
            @Html.CheckBox("chkHasRec", Model.HasRec,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("id", "chkHasRec") }    
                                    }))
            <input type="text" name="CurrPageNumber" id="CurrPageNumber" value="0" />
            <input type="submit" name="btnSearch" id="btnSearch" value="btnSearch" onclick="javascript: return canSubmit();" />
        </div>
        
        //Search div
        <div class="dv-block">
            <div>
                <a href="#" class="aButton-search" onclick="javascript:$('#divSearch').slideToggle(); return false;">@Resources.ClaimatePrimeWebResx.Search</a>
            </div>
            <div id="divSearch" class="dv-block-search1">
                <ul class="ul-search-criteria">
                    <li><span>@Resources.ClaimatePrimeWebResx.NameChartCase</span> @Html.TextBoxFor(m => m.SearchName,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("rel", "txtsearch") }    
                                    }))
                    </li>
                    <li><span>@Resources.ClaimatePrimeWebResx.DOSFrom</span>
                        @Html.TextBoxFor(m => m.DateFrom
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @StaticClass.GetDateStr().ToLower()) } 
                                       , { new KeyValueModel<string, string>("class", "txt_cal txt-from-date") } 
                                       , { new KeyValueModel<string, string>("rel", "txtsearch") }
                                      , { new KeyValueModel<string, string>("readonly", "true") }                                      
                                    }))
                        <a href="#" class="aDelete" onclick="javascript:return clearDatePickerFromTo('DateFrom', 'DateTo', 'DateFrom');"></a>
                    </li>
                    <li><span>@Resources.ClaimatePrimeWebResx.DOSTo</span>
                        @Html.TextBoxFor(m => m.DateTo
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                       { new KeyValueModel<string, string>("placeholder", @StaticClass.GetDateStr().ToLower()) } 
                                       , { new KeyValueModel<string, string>("class", "txt_cal txt-to-date") }
                                       , { new KeyValueModel<string, string>("rel", "txtsearch") } 
                                      , { new KeyValueModel<string, string>("readonly", "true") }                                        
                                    }))
                        <a href="#" class="aDelete" onclick="javascript:return clearDatePickerFromTo('DateTo', 'DateFrom', 'DateTo');"></a>
                    </li>
                    <li><a href="#" onclick="javascript:return setSearch('', '', '');" class="aSearch1" title="@Resources.ClaimatePrimeWebResx.Search"></a></li>
                </ul>
            </div>

        </div>
        
        //end Search div
        <div class="dv-shadowline"></div>
        
        if (Model.ClaimAgentResults.Count < 1)
        {    
        @Html.Partial("UserControls/NoRec")
        }
        else
        {
        <table class="table-entry">
            <tr>
                <td class="td-note" colspan="4">@Resources.ClaimatePrimeWebResx.Note : 
                        <ul>
                            <li>The  page lists only those claims which are not done</li>
                        </ul>
                </td>
            </tr>

            @for (int i = 0; i < Model.ClaimAgentResults.Count; i++)
            {
                
                <tr>
                    <td style="width: 20%; padding: 8px 15px;">
                        @Resources.ClaimatePrimeWebResx.ChartNo
                    </td>
                    <td style="width: 30%; color: #85204d">
                        @Model.ClaimAgentResults[i].CHART_NUMBER
                        @Html.TextBoxFor(m => Model.ClaimAgentResults[i].PATIENT_VISIT_ID,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("style", "display:none;") }    
                                    }))
                    </td>

                    <td style="width: 20%; padding: 8px 15px">
                        @Resources.ClaimatePrimeWebResx.CaseNo
                    </td>
                    <td style="width: 30%;">
                        @Model.ClaimAgentResults[i].PATIENT_VISIT_ID
                    </td>
                </tr>
                <tr>
                    <td style="padding: 8px 15px;">
                        @Resources.ClaimatePrimeWebResx.DOS
                    </td>
                    <td>
                        @StaticClass.GetDateStr(Model.ClaimAgentResults[i].DOS)
                    </td>

                    <td style="padding: 8px 15px;">
                        @Resources.ClaimatePrimeWebResx.CaseComplexity
                    </td>
                    <td>
                        @Model.ClaimAgentResults[i].PATIENT_VISIT_COMPLEXITY
                    </td>
                </tr>
                <tr>
                    <td style="padding: 8px 15px;">
                        @Resources.ClaimatePrimeWebResx.ClaimStatus
                    </td>
                    <td>
                        @Convert.ToString((ClaimStatus)Model.ClaimAgentResults[i].CLAIM_STATUS)
                    </td>

                    <td>
                        @Resources.ClaimatePrimeWebResx.BA
                    </td>
                    <td>

                        @Html.TextBoxFor(m => Model.ClaimAgentResults[i].TARGET_BA_USER,
                         StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("rel", "txtgrid") }
                                    }))

                        @Html.TextBoxFor(m => Model.ClaimAgentResults[i].TARGET_BA_USERID,
                         StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                    </td>
                </tr>
                <tr>



                    <td>
                        @Resources.ClaimatePrimeWebResx.QA
                    </td>
                    <td>
                        @Html.TextBoxFor(m => Model.ClaimAgentResults[i].TARGET_QA_USER,
                         StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("rel", "txtgrid") }
                                    }))

                        @Html.TextBoxFor(m => Model.ClaimAgentResults[i].TARGET_QA_USERID,
                         StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                    </td>

                    <td>
                        @Resources.ClaimatePrimeWebResx.EA
                    </td>
                    <td>
                        @Html.TextBoxFor(m => Model.ClaimAgentResults[i].TARGET_EA_USER,
                         StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("rel", "txtgrid") }
                                    }))


                        @Html.TextBoxFor(m => Model.ClaimAgentResults[i].TARGET_EA_USERID,
                         StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                    </td>
                </tr>
                <tr>
                    <td class="td-note" colspan="4">&nbsp;</td>
                </tr>
            }
        </table>
        <div class="dv-submit-controls">
            <ul>
                <li>
                    <input type="submit" name="btnSave" id="btnSave" value="@Resources.ClaimatePrimeWebResx.Save" class="button-save" onclick="javascript: return validateSave();" /></li>
                <li><a href="@Url.RouteUrl(StaticClass.RouteValues("ClinicSetUpM"))" class="aButton-cancel" onclick="javascript:showDivPageLoading();">@Resources.ClaimatePrimeWebResx.Cancel</a></li>
            </ul>
        </div>        
        }
    }

</div>


<div style="display: none;">
    @*Error Or Success Message Displaying*@
    @if ((ViewBag.ErrMsg > 0) || (ViewBag.SuccMsg > 0))
    {
        if (ViewBag.ErrMsg > 0)
        {
            if (ViewBag.ErrMsg == 1)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
            else if (ViewBag.ErrMsg == 2)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.BAEmpty" />
            }
            else if (ViewBag.ErrMsg == 3)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.BAQAEmpty" />
            }
            else if (ViewBag.ErrMsg == 4)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.BAQAEAEmpty" />
            }
            else
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.AtleastOneAgent" />
            }
        }
        else
        {
            if (ViewBag.SuccMsg == 1)
            {
        <input type="text" name="txtSuccMsg"  value="@Resources.ClaimatePrimeWebResx.SaveSucc" />
            }
            else
            {
        <input type="text" name="txtSuccMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
        }
    }
</div>


