@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.Extensions;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeConstants;

@model ClaimatePrimeModels.Models.PatientHospitalizationSaveModel

@using (Html.ArivaForm("PatHospitalization", "Save"))
{
    <div class="dv-page-header1">
        <ul class="ul-header">
            <li><a href="@Url.RouteUrl(StaticClass.RouteValues("PatHospitalization"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
            <li>@Resources.ClaimatePrimeWebResx.Hospitalization</li>
            @{
    bool isNew = (ArivaSession.Sessions().PageEditID<long>() == 0) ? true : false;

    if (ArivaSession.Sessions().IsNewRec)
    {
                <li>-</li>
                <li><span>@Resources.ClaimatePrimeWebResx.New</span></li>
    }
    else
    {
                <li>-</li>
                <li><span>@Resources.ClaimatePrimeWebResx.Edit</span></li>
    }
            }
        </ul>
    </div>
    @Html.Partial("UserControls/PageHeaderSub")
    @Html.Partial("UserControls/HospitalizationSave")    
}
<div style="display: none;">
    @*Error Or Success Message Displaying*@
    @if ((ViewBag.ErrMsg > 0) || (ViewBag.SuccMsg > 0))
    {
        if (ViewBag.ErrMsg > 0)
        {
            if (ViewBag.ErrMsg == 1)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.SaveError.Replace("[X]", Model.ErrorMsg)" />
            }
            else if (ViewBag.ErrMsg == 6)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.Patalrexists" />
            }
             else
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
        }
        else
        {
            if (ViewBag.SuccMsg == 1)
            {
        <input type="text" name="txtSuccMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
            else
            {
        <input type="text" name="txtSuccMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
        }
    }
</div>

