@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.Extensions;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeConstants;



<div id="divVisit" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aCptE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Cpt');" class="aExpand">@Resources.ClaimatePrimeWebResx.CPT</a>
        <a href="#" id="aCptC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Cpt');" class="aCollapse">@Resources.ClaimatePrimeWebResx.CPT</a>
    </div>
    <div id="divCptC" style="display: none;" title="" class="dv-bdr">
        <table class="table-entry">
            <tr>
                <td style="width: 20%">
                    @Resources.ClaimatePrimeWebResx.DescType
                </td>
                <td style="width: 80%">
                    <ul class="ul-ra">
                        <li>
                            <input id="sdProc" type="radio" name="rdoDescTypeDxPro" value="ShortDesc" onclick="javascript: return descTypeClickDxPro(this);" checked="checked" />
                            <label for="sdProc"><span></span>@Resources.ClaimatePrimeWebResx.ShortDesc </label>
                        </li>
                        <li>
                            <input id="mdProc" type="radio" name="rdoDescTypeDxPro" value="MediumDesc" onclick="javascript: return descTypeClickDxPro(this);" />
                            <label for="mdProc"><span></span>@Resources.ClaimatePrimeWebResx.MediumDesc </label>
                        </li>
                        <li>
                            <input id="ldProc" type="radio" name="rdoDescTypeDxPro" value="LongDesc" onclick="javascript: return descTypeClickDxPro(this);" />
                            <label for="ldProc"><span></span>@Resources.ClaimatePrimeWebResx.LongDesc </label>
                        </li>
                        <li>
                            <input id="cdProc" type="radio" name="rdoDescTypeDxPro" value="CustomDesc" onclick="javascript: return descTypeClickDxPro(this);" />
                            <label for="cdProc"><span></span>@Resources.ClaimatePrimeWebResx.CustomDesc </label>
                        </li>
                        <li>
                            <input type="text" id="txtDescTypeDxPro" value="ShortDesc" style="display: none" /></li>
                    </ul>
                </td>
            </tr>
        </table>
        <div id="divProcListSum"></div>
        <div class="dv-bdr-visit1">
            <div>
                <a href="#" id="aProcListDetE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandDiv('ProcListDet');" class="aExpand-sub-p">@Resources.ClaimatePrimeWebResx.PROCEDURE_DETAIL</a>
                <a href="#" id="aProcListDetC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapseDiv('ProcListDet');" class="aCollapse-sub-p">@Resources.ClaimatePrimeWebResx.PROCEDURE_DETAIL</a>
            </div>
            <div id="divProcListDetC" style="display: none;"></div>
        </div>
    </div>
</div>
