@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.Extensions;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeEFWork.EFContexts;
@using ClaimatePrimeConstants;
@using ClaimatePrimeModels.SecuredFolder.Commons;

@model ClaimatePrimeModels.Models.DashBoardModel

<div class="dv-page-header1">
    <ul class="ul-header">
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("DashBoard"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
        <li>@Resources.ClaimatePrimeWebResx.Summary</li>
    </ul>

</div>

<div class="dv-block">
    @using (Html.ArivaForm("Dashboard", "Save"))
    {
        
        <div style="display: none;">
            @Html.TextBoxFor(m => m.StartBy)
            @Html.TextBoxFor(m => m.CurrNumber)
            @Html.TextBoxFor(m => m.OrderByField)
            @Html.TextBoxFor(m => m.OrderByDirection)
            @Html.CheckBox("chkHasRec", Model.HasRec,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("id", "chkHasRec") }    
                                    }))
            <input type="text" name="CurrPageNumber" id="CurrPageNumber" value="0" />
            <input type="submit" name="btnSearch" id="btnSearch" value="btnSearch" onclick="javascript: return canSubmit();" />
        </div>
    }
    @*<table class="table-grid">
        <tr>
            <td width="20%" class="td-gridhead">@Resources.ClaimatePrimeWebResx.Name
            </td>
            <td width="20%" class="td-gridhead">@Resources.ClaimatePrimeWebResx.ChartNo
            </td>
            <td width="20%" class="td-gridhead">@Resources.ClaimatePrimeWebResx.FirstName
            </td>
            <td width="20%" class="td-gridhead">@Resources.ClaimatePrimeWebResx.CaseNo
            </td>
            <td width="20%" class="td-gridhead">&nbsp;
            </td>
        </tr>

        @foreach (usp_GetDashboardVisit_PatientVisit_Result item in Model.DashboardVisit)
        {
            <tr>
                <td>@item.Name
                </td>
                <td>@item.ChartNumber
                </td>
                <td>@StaticClass.GetDateStr(item.FirstName)
                </td>
                <td>@item.MiddleName
                </td>
                <td>
                    <a href="#" onclick="@string.Concat("javascript:return setEdit('", item.MiddleName, "');")"  class="aView" rel="control_tile" >@Resources.ClaimatePrimeWebResx.View </a>
                </td>
            </tr>
        }

    </table>*@
    @Html.Partial("UserControls/SearchResult")
</div>


