@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}

@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.Extensions;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeEFWork.EFContexts;

@model ClaimatePrimeModels.Models.AssignedClaimSaveModel

<div>
    <div class="dv-page-header1">
        <ul class="ul-header">
            <li><a href="@Url.RouteUrl(StaticClass.RouteValues("SummaryAgent", "Save"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
            <li>Claim</li>
        </ul>
    </div>
    @using (Html.ArivaForm("SummaryAgentView", "Save"))
    {
        <div class="dv-block">
            @Html.Partial("UserControls/AsgnClaimVisitView")
            @Html.Partial("UserControls/AsgnClaimDxView")
            @Html.Partial("UserControls/AsgnClaimPrimaryDxView")
            @Html.Partial("UserControls/AsgnClaimProcedureView")
            @Html.Partial("UserControls/AsgnClaimVisitDocumentView")
            @Html.Partial("UserControls/AsgnClaimNotesView")
            @Html.Partial("UserControls/AsgnClaimPatDocuments")
            @Html.Partial("UserControls/AsgnClaimPatient")
            @Html.Partial("UserControls/AsgnClaimEDISettings")
            @Html.Partial("UserControls/AsgnClaimIPA")
            @Html.Partial("UserControls/AsgnClaimPractice")
            @Html.Partial("UserControls/AsgnClaimFacilityDone")
            @Html.Partial("UserControls/AsgnClaimProvider")
            @Html.Partial("UserControls/AsgnClaimInsurance")
            @Html.Partial("UserControls/AsgnClaimPrevVisit")

        </div>
    }

    @Html.Partial("UserControls/AsgnClaimMenu")
</div>

<div id="divEnlargePhoto" class="div_transparent">
    <div class="dvImage">
        <img id="imgEnlargePhoto" src="@Url.RouteUrl(StaticClass.RouteValues("Home", "NoPhoto"))" alt="#" style="cursor:pointer" onclick="return printImage();" title="@Resources.ClaimatePrimeWebResx.PrintClick" />
    </div>
    <div class="dvControls_pop">
        <a href="#" onclick="javascript:return resizePhoto();" class="close-button">@Resources.ClaimatePrimeWebResx.Close</a>
    </div>
</div>
