@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}

@using ClaimatePrimeControllers.SecuredFolder.Extensions;

@using ClaimatePrimeModels.SecuredFolder.Commons;

@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeConstants;
@using ClaimatePrimeEFWork.EFContexts;

@model ClaimatePrimeModels.Models.IPASaveModel

@using (Html.ArivaForm("IPA", "Save"))
{
    @Html.TextBoxFor(m => m.AntiForgTokn
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("style", "display:none;") } 
                                    }))
   
    <div class="dv-page-header1">
        <ul class="ul-header">
            <li><a href="@Url.RouteUrl(StaticClass.RouteValues("IPA"))"  title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
            <li>@Resources.ClaimatePrimeWebResx.IPA</li>
            <li>- <span>@Resources.ClaimatePrimeWebResx.Edit</span></li>
        </ul>
    </div>
    @Html.Partial("UserControls/PageHeaderSub")
    <div class="dv-block">
        <table class="table-entry">
            <tr>
                <td colspan="4" class="td-heading">&nbsp;
                </td>
            </tr>
            <tr>
                <td style="width:20%">@Resources.ClaimatePrimeWebResx.Code <span class="star">*</span>
                </td>
                <td style="width:30%">
                    @Html.TextBoxFor(m => m.IPA.IPACode,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "2") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
                <td style="width:20%">@Resources.ClaimatePrimeWebResx.Name <span class="star">*</span>
                </td>
                <td style="width:30%">
                    @Html.TextBoxFor(m => m.IPA.IPAName,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "150") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
            </tr>
            <tr>
                <td>@Resources.ClaimatePrimeWebResx.NPI
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.NPI,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "10") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
                <td>@Resources.ClaimatePrimeWebResx.TaxID
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.TaxID,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "9") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
            </tr>
            <tr>
                <td>@Resources.ClaimatePrimeWebResx.EntityType
                </td>
                <td colspan="3">
                    <label>
                        @Html.TextBoxFor(m => m.IPA_EntityTypeQualifier)

                        @Html.TextBoxFor(m => m.IPA.EntityTypeQualifierID
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="td-heading">
                    <div class="dv-subheading-entry">
                        @Resources.ClaimatePrimeWebResx.OfficeAddress
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Resources.ClaimatePrimeWebResx.Street <span class="star">*</span>
                </td> 
                <td>
                    @Html.TextBoxFor(m => m.IPA.StreetName,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "500") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.SuiteNo
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.Suite,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "500") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.City <span class="star">*</span>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA_City)

                    @Html.TextBoxFor(m => m.IPA.CityID
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.State <span class="star">*</span>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA_State)

                    @Html.TextBoxFor(m => m.IPA.StateID
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.County
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA_County)

                    @Html.TextBoxFor(m => m.IPA.CountyID
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.Country <span class="star">*</span>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA_Country)

                    @Html.TextBoxFor(m => m.IPA.CountryID
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("style", "display:none;") }
                                    }))
                </td>
            </tr>

            <tr>
                <td> @Resources.ClaimatePrimeWebResx.PhoneNumber
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.PhoneNumber,
                    StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_PHONE) } 
                                        , { new KeyValueModel<string, string>("maxlength", "13") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onkeyup", "javascript:return keyUpUIntNumericLen(this, '10')") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidatePhone(this);") }                                       
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.Extension
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.PhoneNumberExtn)

                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.SecondaryPhoneNumber
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.SecondaryPhoneNumber,
                StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_PHONE) } 
                                        , { new KeyValueModel<string, string>("maxlength", "13") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onkeyup", "javascript:return keyUpUIntNumericLen(this, '10')") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidatePhone(this);") }                                       
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.Extension
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.SecondaryPhoneNumberExtn, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("placeholder", "0") }
                                    , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") } 
                                    ,{ new KeyValueModel<string, string>("onkeyup", "keyUpUIntNumericLen(this, 2)") } 
                                   ,{ new KeyValueModel<string, string>("onblur", "blurValidateUIntNumberLen(this, 2)") }                                       
                                    }))

                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.Email
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.Email, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_EMAIL) } 
                                       ,  { new KeyValueModel<string, string>("maxlength", "256") }
                                       , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidateEmail(this);") }                                       
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.SecondaryEmail
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.SecondaryEmail, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_EMAIL) } 
                                       ,  { new KeyValueModel<string, string>("maxlength", "256") }
                                       , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidateEmail(this);") }                                       
                                    }))
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.Fax
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.Fax,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "20") }
                                         , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="4" class="td-heading">
                    <div class="dv-subheading-entry">
                        @Resources.ClaimatePrimeWebResx.ContactPersonDetails
                    </div>
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.LastName
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonLastName,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "150") }
                                         , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.FirstName
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonFirstName,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "150") }
                                         , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.MiddleName
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(m => m.IPA.ContactPersonMiddleName,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "150") }
                                         , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.PhoneNumber
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonPhoneNumber, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_PHONE) } 
                                        , { new KeyValueModel<string, string>("maxlength", "13") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onkeyup", "javascript:return keyUpUIntNumericLen(this, '10')") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidatePhone(this);") }                                       
                                    }))
                </td>
                <td>Extension
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonPhoneNumberExtn, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("placeholder", "0") } 
                                    , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                    ,{ new KeyValueModel<string, string>("onkeyup", "keyUpUIntNumericLen(this, 2)") } 
                                   ,{ new KeyValueModel<string, string>("onblur", "blurValidateUIntNumberLen(this, 2)") }                                       
                                    }))

                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.SecondaryPhoneNumber
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonSecondaryPhoneNumber,
                StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_PHONE) } 
                                        , { new KeyValueModel<string, string>("maxlength", "13") }
                                        , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onkeyup", "javascript:return keyUpUIntNumericLen(this, '10')") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidatePhone(this);") }                                       
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.Extension
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonSecondaryPhoneNumberExtn, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("placeholder", "0") } 
                                    , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                    ,{ new KeyValueModel<string, string>("onkeyup", "keyUpUIntNumericLen(this, 2)") } 
                                   ,{ new KeyValueModel<string, string>("onblur", "blurValidateUIntNumberLen(this, 2)") }                                       
                                    }))
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.Email
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonEmail, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_EMAIL) } 
                                       ,  { new KeyValueModel<string, string>("maxlength", "256") }
                                       , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidateEmail(this);") }                                       
                                    }))
                </td>
                <td> @Resources.ClaimatePrimeWebResx.SecondaryEmail
                </td>
                <td>
                    @Html.TextBoxFor(m => m.IPA.ContactPersonSecondaryEmail, StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @Resources.ClaimatePrimeWebResx.DEFAULT_EMAIL) } 
                                       ,  { new KeyValueModel<string, string>("maxlength", "256") }
                                       , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }
                                        , { new KeyValueModel<string, string>("onblur", "javascript:return blurValidateEmail(this);") }                                       
                                    }))
                </td>
            </tr>
            <tr>
                <td> @Resources.ClaimatePrimeWebResx.Fax
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(m => m.IPA.ContactPersonFax,
                 StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "20") }
                                         , { new KeyValueModel<string, string>("onfocus", "javascript:return registerBlurFn();") }, { new KeyValueModel<string, string>("onblur", "javascript:return blurTrim(this);") }    
                                    }))
                </td>
            </tr>
            <tr @Html.Raw((ArivaSession.Sessions().IsNewRec) ? "style=display:none;" : "")>
                <td>@Resources.ClaimatePrimeWebResx.Active
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.IPA.IsActive)
                </td>
            </tr>
            <tr>
                <td>@Resources.ClaimatePrimeWebResx.Photo
                </td>
                <td>
                    <span class="label_hint">
                        @Resources.ClaimatePrimeWebResx.UploadSize.Replace("[X]", Convert.ToString(StaticClass.ConfigurationGeneral.mUploadMaxSizeInMBID))
                    </span>
                    <div class="FileUpload">
                        <input type="file" id="filUpload" name="filUpload" class="BrowserHidden" accept="@StaticClass.CsResources("PhotoAccept")" onchange="javascript:fileBrowseChange(this);" />
                        <div id="BrowserHidden" class="BrowserVisible">
                            <input type="text" id="txtfilUpload" class="FileField" style="width: 180px" readonly="true" onclick="javascript: fileBrowseClick(this);" />
                        </div>
                    </div>
                </td>
                <td class="td-image">
                    <ul class="ul_imgEnlarge">
                        <li class="imgPhoto">
                            <img src="@Url.RouteUrl(StaticClass.RouteValues("IPA", "ShowPhoto"))" alt="" style="width: 60px; height: 60px;" onclick="javascript:return enlargePhoto(this);" title="@Resources.ClaimatePrimeWebResx.EnlargeClick" />
                        </li>
                    </ul>
                </td>
            </tr>
            <tr @Html.Raw((ArivaSession.Sessions().IsNewRec) ? "style=display:none;" : "")>
                <td>@Resources.ClaimatePrimeWebResx.Comments
                </td>
                <td colspan="3">
                    @Html.TextAreaFor(m => m.IPA.Comment
                     , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("maxlength", "4000") }    
                                    }))
                </td>
            </tr>
        </table>
        <div class="dv-submit-controls">
            <ul>
                <li>
                    <input type="submit" name="btnSave" id="btnSave" value="@Resources.ClaimatePrimeWebResx.Save" class="button-save" onclick="javascript: return validateSave();">
                </li>
                <li>
                    <a href="@Url.RouteUrl(StaticClass.RouteValues("IPA"))"  class="aButton-cancel" onclick="javascript:showDivPageLoading();">@Resources.ClaimatePrimeWebResx.Cancel</a></li>
            </ul>
        </div>
    </div>    
}

<div id="divEnlargePhoto" class="div_transparent">
    <div class="dvImage">
        <img id="imgEnlargePhoto" src="@Url.RouteUrl(StaticClass.RouteValues("IPA", "ShowPhoto"))" alt="#" style="cursor:pointer" onclick="return printImage();" title="@Resources.ClaimatePrimeWebResx.PrintClick" />
    </div>
    <div class="dvControls_pop">
        <a href="#" onclick="javascript:return resizePhoto();" class="close-button">@Resources.ClaimatePrimeWebResx.Close</a>
    </div>
</div>

<div style="display: none;">
    @*Error Or Success Message Displaying*@
    @if ((ViewBag.ErrMsg > 0) || (ViewBag.SuccMsg > 0))
    {
        if (ViewBag.ErrMsg > 0)
        {
            if (ViewBag.ErrMsg == 1)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.SaveError.Replace("[X]", Model.ErrorMsg)" />
            }
            else
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
        }
        else
        {
            if (ViewBag.SuccMsg == 1)
            {
        <input type="text" name="txtErrMsg" value="sai" />
            }
            else
            {
        <input type="text" name="txtSuccMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
        }
    }
</div>
