@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeModels.Models;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;

<div class="dv-page-header1">
    <ul class="ul-header">
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("MenuA", "Search"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
        <li>@Resources.ClaimatePrimeWebResx.Address</li>
    </ul>
</div>
@Html.Partial("UserControls/PageHeaderSub")<div class="dv-block">
    <ul class="ul-menu">
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("CityBlock", "Search"))" onclick="javascript:showDivPageLoading();" rel="menu_tile" class="menu-city">@Resources.ClaimatePrimeWebResx.City </a></li>
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("Country", "Search"))" onclick="javascript:showDivPageLoading();" rel="menu_tile"  class="menu-country">@Resources.ClaimatePrimeWebResx.Country</a></li>
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("County", "Search"))" onclick="javascript:showDivPageLoading();" rel="menu_tile" class="menu-county">@Resources.ClaimatePrimeWebResx.County</a></li>
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("State", "Search"))" onclick="javascript:showDivPageLoading();" rel="menu_tile" class="menu-state">@Resources.ClaimatePrimeWebResx.State</a></li>
    </ul>
</div>
