@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.Extensions;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeEFWork.EFContexts;
@using ClaimatePrimeConstants;
@using ClaimatePrimeModels.SecuredFolder.Commons;

@model ClaimatePrimeModels.Models.ClinicWiseSummaryModel
<div class="dv-page-header1">
    <ul class="ul-header">
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("SummaryClinic"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
        <li>@Resources.ClaimatePrimeWebResx.SummarySplitUp - <span>@Resources.ClaimatePrimeWebResx.ClinicWise</span></li>
    </ul>

</div>
<div class="dv-block">
    @using (Html.ArivaForm("SummaryClinic", "Save"))
    {
        
        <div style="display: none;">
            @Html.TextBoxFor(m => m.StartBy)
            @Html.TextBoxFor(m => m.CurrNumber)
            @Html.TextBoxFor(m => m.OrderByField)
            @Html.TextBoxFor(m => m.OrderByDirection)
            @Html.CheckBox("chkHasRec", Model.HasRec,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("id", "chkHasRec") }    
                                    }))
            <input type="text" name="CurrPageNumber" id="CurrPageNumber" value="0" />
            <input type="submit" name="btnSearch" id="btnSearch" value="btnSearch" onclick="javascript: return canSubmit();" />
        </div>
    }

    @Html.Partial("UserControls/SearchResult")
</div>
