@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeControllers.SecuredFolder.Extensions;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;
@using ClaimatePrimeModels.SecuredFolder.Extensions;
@using ClaimatePrimeEFWork.EFContexts;

@model ClaimatePrimeModels.Models.CaseComplexitySearchModel

<div>
    <div class="dv-page-header1">
        <ul class="ul-header">
            <li><a href="@Url.RouteUrl(StaticClass.RouteValues("ClinicSetUpM"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
            <li>@Resources.ClaimatePrimeWebResx.CaseComplexity</li>
        </ul>
    </div>
</div>
@Html.Partial("UserControls/PageHeaderSub")
<div class="dv-block">

    @using (Html.ArivaForm("CaseComplex"))
    {
        
        <div style="display: none;">
            @Html.TextBoxFor(m => m.StartBy)
            @Html.TextBoxFor(m => m.CurrNumber)
            @Html.TextBoxFor(m => m.OrderByField)
            @Html.TextBoxFor(m => m.OrderByDirection)
            @Html.CheckBox("chkHasRec", Model.HasRec,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("id", "chkHasRec") }    
                                    }))
            <input type="text" name="CurrPageNumber" id="CurrPageNumber" value="0" />
            <input type="submit" name="btnSearch" id="btnSearch" value="btnSearch" onclick="javascript: return canSubmit();" />
        </div>
        
        //Search div
        <div class="dv-block">
            <div>
                <a href="#" class="aButton-search" onclick="javascript:$('#divSearch').slideToggle(); return false;">@Resources.ClaimatePrimeWebResx.Search</a>
            </div>
            <div id="divSearch" class="dv-block-search1">
                <ul class="ul-search-criteria">
                    <li><span>@Resources.ClaimatePrimeWebResx.NameChart</span> @Html.TextBoxFor(m => m.SearchName,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("rel", "txtsearch") }    
                                    }))
                    </li>
                    <li><span>@Resources.ClaimatePrimeWebResx.DOSFrom</span>
                        @Html.TextBoxFor(m => m.DateFrom
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("placeholder", @StaticClass.GetDateStr().ToLower()) } 
                                       , { new KeyValueModel<string, string>("class", "txt_cal txt-from-date") } 
                                       , { new KeyValueModel<string, string>("rel", "txtsearch") }
                                      , { new KeyValueModel<string, string>("readonly", "true") }                                      
                                    }))

                        <a href="#" class="aDelete" onclick="javascript:return clearDatePickerFromTo('DateFrom', 'DateTo', 'DateFrom');"></a>
                    </li>
                    <li><span>@Resources.ClaimatePrimeWebResx.DOSTo</span>
                        @Html.TextBoxFor(m => m.DateTo
                                , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                       { new KeyValueModel<string, string>("placeholder", @StaticClass.GetDateStr().ToLower()) } 
                                       , { new KeyValueModel<string, string>("class", "txt_cal txt-to-date") }
                                       , { new KeyValueModel<string, string>("rel", "txtsearch") } 
                                      , { new KeyValueModel<string, string>("readonly", "true") }                                        
                                    }))

                          <a href="#" class="aDelete" onclick="javascript:return clearDatePickerFromTo('DateTo', 'DateFrom', 'DateTo');"></a>
                    </li>
                    <li><a href="#" onclick="javascript:return setSearch('', '', '');" class="aSearch1" title="@Resources.ClaimatePrimeWebResx.Search"></a></li>
                </ul>
            </div>

        </div>
        
        //end Search div
        <div class="dv-shadowline"></div>
        
        if (Model.PatientVisit.Count < 1)
        {    
        @Html.Partial("UserControls/NoRec")
        }
        else
        {
        <table class="table-grid">
            <tr>
                
                    
                    <td style="width:30%" class="td-gridhead">
                       
                            @Resources.ClaimatePrimeWebResx.Name
                        
                       
                    </td>
                    
                    <td style="width:20%" class="td-gridhead">
                       @Resources.ClaimatePrimeWebResx.ChartNo
                        
                       
                    </td>
                  <td style="width:20%" class="td-gridhead">
                       @Resources.ClaimatePrimeWebResx.CaseNo
                        
                       
                    </td>
                
                    <td style="width:20%" class="td-gridhead">
                       @Resources.ClaimatePrimeWebResx.DOS
                        
                        
                       
                    </td>
                  <td style="width:20%" class="td-gridhead">
                       @Resources.ClaimatePrimeWebResx.Complexity
                        
                       
                    </td>
                    
                    
                            
            </tr>

            @for (int i = 0; i < Model.PatientVisit.Count; i++)
            {
                <tr>
                    <td>
                        @Html.TextBoxFor(m => Model.PatientVisit[i].PatientVisitID,
                       StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                        { new KeyValueModel<string, string>("style", "display:none;") }    
                                    }))

                        @Model.PatientVisit[i].Name
                    </td>
                    <td>
                        @Model.PatientVisit[i].ChartNumber
                    </td>
                      <td>
                        @Model.PatientVisit[i].PatientVisitID
                    </td>
                    <td>
                        @StaticClass.GetDateStr(Model.PatientVisit[i].DOS)
                    </td>

                    <td>
                        @Html.TextBoxFor(m => m.PatientVisit[i].PatientVisitComplexity , StaticClass.HtmlAttributes(
                                    new List<KeyValueModel<string, string>> { 
                                    { new KeyValueModel<string, string>("placeholder", "0") } 
                                    ,{ new KeyValueModel<string, string>("onkeyup", "keyUpUIntNumericLen(this, 1)") } 
                                   ,{ new KeyValueModel<string, string>("onblur", "blurValidateUIntNumberLen(this, 1)") }                                       
                                    }))
                    </td>
                </tr>
            }
        </table>
        <div class="dv-submit-controls">
            <ul>
                <li>
                    <input type="submit" name="btnSave" id="btnSave" value="@Resources.ClaimatePrimeWebResx.Save" class="button-save" onclick="javascript: showDivPageLoading();"></li>
                <li><a href="@Url.RouteUrl(StaticClass.RouteValues("ClinicSetUpM"))" class="aButton-cancel" onclick="javascript:showDivPageLoading();">@Resources.ClaimatePrimeWebResx.Cancel</a></li>
            </ul>
        </div>        
        }
    }

</div>


<div style="display: none;">
    @*Error Or Success Message Displaying*@
    @if ((ViewBag.ErrMsg > 0) || (ViewBag.SuccMsg > 0))
    {
        if (ViewBag.ErrMsg > 0)
        {
            if (ViewBag.ErrMsg == 1)
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
            else
            {
        <input type="text" name="txtErrMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
        }
        else
        {
            if (ViewBag.SuccMsg == 1)
            {
        <input type="text" name="txtSuccMsg"  value="@Resources.ClaimatePrimeWebResx.SaveSucc" />
            }
            else
            {
        <input type="text" name="txtSuccMsg"  value="@Resources.ClaimatePrimeWebResx.SaveErrorSucc" />
            }
        }
    }
</div>


